html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
    
}

body {
    font-size: 16px;
}
.smooth-scroll{
    scroll-behavior:auto;
    transition: all ease-in-out 3s;
}

.navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #ccc;
    box-shadow: 1px 1px #ccc; 
}

.nav__list {
    display: flex;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav__item {
    list-style: none;
}

.nav__item{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.link__item {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.nav__item .link__item::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    margin-top: 8px;
    transition: all linear 0.3s;
}

.nav__item:hover .link__item::after {
    width: 100%;
}

.nav__item .link__item {
    transition: all linear 0.2s;
}

.nav__item .link__item:hover {
    color: var(--primary-color);
}

.logo__link {
    transition: all linear 0.1s;
}

.logo__link:hover {
    opacity: 0.5;
}

.logo {
    padding-left: 16px;
    padding-right: 16px;
    color: #000;
    font-size: 2.0rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}

.nav__search {
    cursor: pointer;
    transition: all linear 0.2s;
}

.nav__search:hover {
    color:var(--primary-color);
}

.sub__nav {
    width: 500px;
    color: var(--white-color);
    background-color: var(--primary-color);
    position: absolute;
    top: calc(100% + 10px);
    z-index: 1;
}

.sub__nav {
    border-bottom: 1px solid #fff;
    display: none;
    border-radius: 2px;
}

.advice-nav__list {
    list-style: none;
}
.sub-nav__item {
    padding: 1.6rem 1.6rem;
    transition: all linear 0.2s;
    max-width: 500px;
}

.advice-link__item {
    text-decoration: none;
    color: var(--white-color);
    
}
.sub-nav__item .link__item {
    color: var(--white-color);
    
}
.advice__show::after {
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
}

.advice__show:hover .sub__nav{
    display: block;
}

.sub-nav__item:hover{
    opacity: 0.5;
}

.unowned-cat-nav__list {
    list-style: none;
}

.unowned-cat-show::after {
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
}

.unowned-cat-show:hover .sub__nav {
    display: block;
}
/* Slide CSS */
.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: all linear 2s;
}

.slide img{
    width: 100%;
    height: 100%;
}


/* CSS for manual navigation */

.manual-navigation {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--white-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 4rem;
}

.manual-btn:hover {
    background-color: #fff;
}

/* CSS for automatic navigation */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}


.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}


#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio5:checked ~ .first {
    margin-left: -80%;
}

.slide-item {
    width: 100%;
    height: 50%;
}

/* introduce CSS */
.introduce {
    position: absolute;
    top: 40%;
    left: 3%;
    color: var(--white-color);
}

.hero-text h1 {
    font-size: 5.0rem;
    font-family: cursive;
}

.introduce-text {
    margin-top: 1.6rem;
}

.introduce-text p{
    font-style: italic;
}

.adopt-btn {
    display: block;
    margin-top: 1.6rem;
    padding: 1.6rem 2rem; 
    text-decoration: none;
    border: 1px solid var(--white-color);
    border-radius: 25%;
    max-width: 100px;
    text-align: center;
    color: var(--white-color);
    font-weight: bold;
    transition: all ease-in 0.2s;
}

.adopt-btn:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

/* About css */

#about {
    width: 100%;
    margin-top: 10rem;
    display: flex;
}

.about__img img {
    width: 100%;
    transition: all ease-in-out 0.3s;
}
.about__img:hover img {
    transform: scale(1.1);
}
.about__header {
    color: var(--primary-color);
    font-size: 3.2rem;
    font-family: cursive;
    padding-left: 2rem;
    padding-right: 2rem;
}

.about__text {
    padding-top: 3.2rem;
    font-weight: 300;
    color: var(--text-color);
    line-height: 3.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Category CSS */

.category {
    margin-top: 6rem;
    margin-left: 4rem;
    margin-bottom: 6rem;
    display: flex;
}

.moble-category {
    display: none;
}

.mobile-category__heading {
    color: var(--primary-color);
    font-family: cursive;
    margin-bottom: 2rem;
}

#type-cat {
    padding: 1rem 1rem;
    font-size: 2rem;
}

.icon__selction {
    margin-left: 2rem;
    font-size: 1rem;
}

.category__list {
    display: flex;
    list-style: none;
}

.category__item {
    padding: 1rem 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.category__item:hover {
    color: #000;
}

.active {
    color: #000;
    border: 1px solid transparent;
    border-radius: 15%;
    background-color: #f2f2f3;
}
.cat-items{
    margin-bottom: 5rem;
}
.cat-item {
    width: 100%;
    height: 260px;
    background-color: orange;   
    overflow: hidden;
    position: relative;
}

.cat-item img {
    max-width: 100%;
    height: auto;
    transition: all ease-in-out 0.2s;
    
}

.cat-item:hover img {
    transform: scale(1.1);
}

.adopt-btn-2 {
    position: absolute;
    right: 5%;
    bottom: 6%;
    text-decoration: none;
    color: var(--text-color);
    background-color: #fff;
    padding: 1.6rem 1rem;
    border-radius: 5px;
    display: none;
    transition: all ease-in-out 0.2s;
    font-weight: 500;
}

.adopt-btn-2:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.heart__icon {
    position: absolute;
    left: 5%;
    bottom: 8%;
    font-size: 2rem;
    color: var(--text-color);
    padding: 0.5rem 0.5rem;
    background-color: #fff;
    border-radius: 20%;
    display: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.hearted__icon{
    position: absolute;
    left: 5%;
    bottom: 8%;
    font-size: 2rem;
    color: var(--primary-color);
    padding: 0.5rem 0.5rem;
    background-color: #fff;
    border-radius: 20%;
    display: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.count-heart {
    font-size: 1.5rem;
}

.cat-item:hover .adopt-btn-2,
.cat-item:hover .heart__icon,
.cat-item:hover .hearted__icon
{
    display: block;
    
}

.heart__icon:hover,
.hearted__icon:hover {
    transform: scale(1.1);
}


.heart__icon:hover {
    color: var(--primary-color);
}

.page__move {
    width: 100%;
}

.page__move-choosen {
    display: flex;
    top: 0;
    margin-bottom: 5rem;
    color: #ccc;

}

.page__move-active {
    color: var(--primary-color);
}
.page__move-choosen i:hover{
    color:var(--primary-color);
}
.page__btn {
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: all linear 0.3s;
}


/* Support us CSS */

#support-us {
    background-image: url(../img/donation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.donation__heading {
    padding-top: 5rem;
    font-size: 3rem;
    font-family: cursive;
    color: var(--primary-color);
}

.donation-list {
    margin-top: 2rem;
    list-style: none;
    display: flex;
}

.donation-item {
    font-size: 1.4rem;
    padding-left: 5rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 1px solid #c2c2c2;
    color: var(--text-color);
    cursor: pointer;
}

.donation-item:hover {
    color: var(--primary-color);
}

.donation-item-active {
    color: var(--primary-color);
}

.custom-donation {
    margin-top: 4rem;
}

.donation-input {
    margin-top: 2rem;
}

.donation-input {
    display: flex;
}
.donation-input input {
    border: 1px solid #ccc;
    padding-left: 2rem;
    outline: none;
    font-size: 1.6rem;
    max-width: 100px;
}
.donation-sign {
    padding: 1rem 1.5rem;
    background-color: #ccc;
    color: var(--text-color);
}

.custom-doanation__heading {
    color: var(--text-color);
}

.donation-submit {
    max-width: 15rem;
    margin-top: 5rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    font-weight: 500;
    text-align: center;
    border: 2px solid #ccc;
    color: var(--text-color);
    cursor: pointer;
    transition: all linear 0.3s;
}

.donation-submit:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
} 

/* Footer CSS */


.footer {
    width: 100%;
    height: 300px;
    background-color: #fafafb;
    padding-top: 6rem;
}

.footer-item__header {
    color: var(--text-color);
}

.footer-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
}

.footer-item__list {
    list-style: none;
    margin-top: 3rem;
}

.sub-footer-item {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.social__icon{
    font-size: 2rem;
    line-height: 2.5rem;
}

.footer-link {
    text-decoration: none;
    color: #000;
    transition: all linear 0.2s;
}

.footer-link:hover {
    color: var(--primary-color);
}

/* Moblie navigation */
.nav-moblie {
    transform: translate(-100%);
    position: fixed;
    width: 250px;
    max-width: 100%;
    z-index: 2;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.2s;
    background-color: var(--primary-color);
}

.moblie-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.5);
}

.moblie-nav__list {
    list-style: none;
    margin-top: 5rem;
    font-size: 2rem;
}

.mobile-nav__item{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

.mobile-nav__link {
    text-decoration: none;
    color: #fff;
}


.nav-moblie__close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 5rem;
}

.nav__bar-btn i{
    font-size: 40px;
    margin-right: 20px;
    margin-top: 20px;
    display: none;
    margin-left: 8px;
    margin-bottom: 8px;
}

.nav__pc {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav__input {
    display: none;
}
.nav__input:checked ~ .nav-moblie
{
    transform: translate(0%);
}

.nav__input:checked ~.moblie-overlay {
    display: block;
}


/* Responsive */

@media (max-width: 1023px) {
    .nav__pc {
        display: none;
    }

    .nav__bar-btn i{
        display: block;
    }

}

@media (max-width: 599px) and (min-width: 320px) {
    .introduce {
        top: 5%
    }

    .hero-text h1{
        font-size: 2rem;
    }

    .introduce-text {
        font-size: 1rem;
    }

    .adopt-btn {
        margin-top: 1rem;
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
    }

    #about {
        margin-top: 2rem;
    }

    .moble-category {
        display: block;
    }

    .category__list {
        display: none;
    }

    .footer-list {
        display: block;
        text-align: center;
    }

    .social__link {
        display: flex;
        justify-content: center;
            
    }

    .social__link .sub-footer-item {
        padding-right: 1rem;
        padding-left: 1rem; 
    }
}

@media (max-width: 1023px) and (min-width: 600px) {

     .introduce {
        top: 5%
    }

    .hero-text h1{
        font-size: 3rem;
    }

    .introduce-text {
        font-size: 2rem;
    }

    .moble-category {
        display: block;
    }

    .category__list {
        display: none;
    }

    .footer-list {
        display: block;
        text-align: center;
    }

    .social__link {
        display: flex;
        justify-content: center;
    }

    .social__link .sub-footer-item {
        padding-right: 1rem;
        padding-left: 1rem; 
    }
}